*~
.DS_Store
.idea
.gradle
build
.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
*.iml
.settings/*
/indexes/*
/target/*
/target/
/gradle
gradlew
gradlew.bat
out
.cache
gradle.properties